<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haizhi.mapper.GroupChatMapper">

    <select id="findBySearch" resultType="com.haizhi.pojo.GroupChat">
        select `groupchat`.* from `groupchat`

        where 1 = 1

    </select>


    <insert id="insert" parameterType="groupChat" useGeneratedKeys="true" keyProperty="id">
        insert ignore into language.groupchat(content,name,avatar,time,type) values
               (#{content},#{name},#{avatar},#{time},#{type})

    </insert>


</mapper>